<% include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= item._id %>"
                    >
                    <label for="itemTextField">Item Name</label>
                    <input type="text" class="form-control"
                        id="itemTextField"
                        placeholder="Enter the Item Name"
                        name="item" 
                        value="<%= item.item %>"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="QtyTextField">Quantity</label>
                    <input type="number" class="form-control"
                    id="QtyTextField"
                    placeholder="00"
                    name="qty" 
                    value="<%= item.qty %>"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="statusTextField">Status</label>
                    <input type="text" class="form-control"
                    id="statusTextField"
                    placeholder="Enter a status"
                    name="status" 
                    value="<%= item.status %>"
                    >
                </div>
                <br />
                <div class="card">
                    <div class="card-header">Size</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="lengthTextField">Length</label>
                            <input type="number" step="0.01" 
                            class="form-control"
                            id="lengthTextField"
                            placeholder="0.00"
                            name="size_l" 
                            value="<%= item.size.l %>"
                            required>
                        </div>

                        <div class="form-group">
                            <label for="widthTextField">Width</label>
                            <input type="number" step="0.01"
                            class="form-control"
                            id="widthTextField"
                            placeholder="0.00"
                            name="size_w" 
                            value="<%= item.size.w %>"
                            required>
                        </div>

                        <div class="form-group">
                            <label for="uomTextField">Unit of Measure</label>
                            <input type="text" class="form-control"
                            id="uomTextField"
                            placeholder="Enter units"
                            name="size_uom" 
                            value="<%= item.size.uom %>"
                            required>
                        </div>
                    </div>                    
                </div>                
                <br />
                <div class="form-group">
                    <label for="descTextField">Description </label>
                    <input type="text" class="form-control"
                    id="descTextField"
                    placeholder="Enter the description of the item"
                    name="desc" 
                    value="<%= item.desc %>"
                    required>
                </div>
                <br/>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/ads/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<% include ../partials/footer.ejs %>